#footer {
    background-color:rgb(39, 56, 56);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;

}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    filter:grayscale(1);
    transition:.3s ease filter;
}
#footer .social-item img:hover{
    filter:grayscale(0);
}
#footer p{
  color:rgb(214, 212, 212);
  font-size: 1.3rem;
}
#footer .brand h1:nth-child(2)
{
    color: rgb(13, 156, 85);
}
