#topics .topics{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}



#topics .topics-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
text-align: center;
}

#topics .topics-title span{
    color: crimson;

}

#topics .topics-header h1{
    margin-bottom: 50px;

}

#topics .all-topics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#topics .topic-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
   

}

#topics .topic-info{
    padding: 30px ;
    flex-basis:50% ;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(103, 224, 160);
    

}

#topics .topic-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#topics .topic-info h2{
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 10px;

}
#topics .topic-info p{
    color: white;
}

#topics .topic-image{
flex-basis: 50%;
height: 300px;
overflow: hidden;
position: relative;
}


 #topics .topic-image:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 1%;

 }

 #topics .topic-image img{
    transition: .3s ease transform;
 }
 #topics .topic-item:hover .topic-image img{
    transform: scale(1.1);
 }